* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.battle-user-avatar,
.battle-other-user-avatar {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 4px;
    border: 1px solid rgb(67, 198, 172);
}

.battle-user-avatar {
    margin-right: 12px;
}

.battle-other-user-avatar {
    margin-left: 12px;
}

.battle-user-avatar img,
.battle-other-user-avatar img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
}

.battle-champion-name {
    text-transform: uppercase;
    font-size: 16px;
    margin: 0;
    color: rgb(67, 198, 172);
}

.healthbar-container {
    max-height: 22px;
}

.healthbar-bar-border {
    width: 300px;
    border: 1px solid rgb(67, 198, 172);
    margin-right: 8px;
    padding: 2px;
    border-radius: 4px;
}

.healthbar-bar-border-reverse {
    width: 300px;
    border: 1px solid rgb(67, 198, 172);
    margin-left: 8px;
    padding: 2px;
    border-radius: 4px;
}

.healthbar-bar {
    min-height: 20px;
    min-width: 1px;
    height: 20px;
    background-color: rgb(218, 55, 55);
    border-radius: 2px;
}

.healthbar-val p {
    font-size: 22px;
    font-weight: 500;
    margin: 0;
    color: #f2f2f2;
}


/* Medium devices (landscape tablets, 1000px and below) */
@media only screen and (max-width: 1000px) {

    .healthbar-wrapper {
        margin-bottom: 20px !important;
    }

    .battle-user-avatar {
        height: 32px;
        width: 32px;
        border-radius: 16px;
        margin-right: 8px;
    }
    
    .battle-other-user-avatar {
        height: 32px;
        width: 32px;
        border-radius: 16px;
        margin-left: 8px;
    }

    .battle-champion-name {
        font-size: 12px;
    }

    .healthbar-container {
        max-height: 22px;
    }
    
    .healthbar-bar-border {
        width: 220px;
        margin-right: 4px;
    }
    
    .healthbar-bar-border-reverse {
        width: 220px;
        margin-left: 4px;
    }
    
    .healthbar-bar {
        min-height: 16px;
        height: 16px;
    }
    
    .healthbar-val p {
        font-size: 18px;
    }

}