* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home-container,
.login-container, 
.signup-container, 
.user-profile-container,
.champions-search-container,
.user-champions-container,
.users-search-container,
.battle-container,
.ranking-container {
    min-height: calc(100vh - 230px);
}

.battle-container {
    background: url("../images/battle-bg.svg") no-repeat center;
    background-size: cover;
    background-color: #000202;
}

.login-container {
    background-image: url("https://images.unsplash.com/photo-1588497859490-85d1c17db96d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
}

.login-overlay {
    background-color: rgba(0, 0, 0, 0.8);
}

.champions-search-container,
.users-search-container,
.battle-container,
.ranking-container {
    padding: 40px 100px;
    padding-top: 40px;
}

.champions-search-container h2,
.users-search-container h2,
.ranking-container h2 {
    margin: 0;
    margin-right: 20px;
}

.champions-search-results,
.users-search-results {
    margin-top: 40px;
}

.user-champions-container {
    margin: 40px 100px;
}

.user-champions-container h3 {
    margin: 0;
}

.champions-list-container {
    border: 1px solid #c0c0c0;
    padding: 20px;
    margin-top: 10px;
}

.user-champions-container a:hover {
    color: #f2f2f2;
}

.secondary-btn {
    background-color: rgb(67, 198, 172);
    color: #f2f2f2;
}

.secondary-btn:hover {
    background-color: rgb(25, 22, 84);
}


.signup-container {
    background-image: url("https://images.unsplash.com/photo-1569701813229-33284b643e3c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1088&q=80");
}

.battle-vs {
    font-size: 32px;
    font-weight: bold;
    color: #f2f2f2;
}

.battle-vs h2 {
    color: #f2f2f2;
}

.battle-user-name {
    font-size: 24px;
    color: #f2f2f2;
}

.battle-text {
    font-size: 60px;
    font-weight: normal;
    color: rgb(96, 250, 219);
}

.health-damage {
    font-size: 50px;
    font-weight: 500;
    color: rgb(218, 55, 55);
    z-index: 5;
    animation-name: damage;
    animation-duration: 2s;
}

@keyframes damage {
    from {
        top: 80px;
        opacity: 1;
    } to {
        top: 40px;
        opacity: 0;
    }
}




/* Medium devices (landscape tablets, 768px and below) */
@media only screen and (max-width: 768px) {
    .champions-search-container,
    .users-search-container,
    .battle-container,
    .ranking-container {
        padding: 20px;
    }
  }