* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home-container,
.login-container, 
.signup-container, 
.user-profile-container,
.user-champions-container,
.users-search-container,
.champions-search-container,
.ranking-container,
.create-container,
.battle-container {
    min-height: 100vh;
}

.ranking-container {
    background-color: #000202;
}

/* .ranking-container th {
    font-size: 0.7rem!important;
} */

.battle-container {
    background: url("../images/battle-bg.svg") no-repeat center;
}

.ranking-container {
    background: url("../images/ranking-bg.svg") no-repeat center;
}

.battle-container,
.ranking-container {
    background-size: cover;
    background-color: #000202;
}

.login-container {
    background-image: url("https://images.unsplash.com/photo-1588497859490-85d1c17db96d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
}

.login-overlay {
    background-color: rgba(0, 0, 0, 0.8);
}

.users-search-container,
.battle-container,
.create-container {
    padding: 40px 100px;
    padding-top: 40px;
}

.ranking-container {
    padding: 0 100px 40px 100px;
}

.champions-search-container h2,
.users-search-container h2,
.ranking-container h2,
.create-container h2 {
    margin: 0;
    margin-right: 20px;
}

/* .ranking-container h2 {
    color: #f2f2f2;
} */

.ranking-container svg {
    max-width: 300px;
    margin-bottom: 0.4rem;
}

.champions-search-results,
.users-search-results {
    margin-top: 40px;
}

.user-champions-container h3 {
    margin: 0;
}

.champions-list-container {
    padding: 1.25rem 6.25rem;
    flex-wrap: nowrap;
    overflow-x: hidden;
    cursor: grab;
    /* -webkit-box-shadow: inset 0 0 1rem 0 rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0 0 1rem 0 rgba(0,0,0,0.75);
    box-shadow: inset 0 0 1rem 0 rgba(0,0,0,0.75); */
}

.user-champions-header {
     padding: 1.25rem 6.25rem 0 6.25rem;
}

/* .user-champions-container a:hover {
    color: #f2f2f2;
} */

.secondary-btn {
    background-color: rgb(67, 198, 172);
    color: #f2f2f2;
}

.secondary-btn:hover {
    background-color: rgb(25, 22, 84);
}

.outline-btn {
    background-color: transparent;
    border: 1px solid rgb(67, 198, 172);
    color: rgb(67, 198, 172);
}

.outline-btn:hover {
    border: 1px solid rgb(25, 22, 84);
    color: rgb(25, 22, 84)!important;
}

.outline-btn:link {
    color: rgb(67, 198, 172)!important;
}

.outline-btn a:hover {
    color: rgb(25, 22, 84)!important;
}

.signup-container {
    background-image: url("https://images.unsplash.com/photo-1569701813229-33284b643e3c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1088&q=80");
}



/* Battle Screen */

.battle-vs {
    font-size: 32px;
    font-weight: bold;
    color: #f2f2f2;
}

/* .battle-vs h2 {
    color: #f2f2f2;
} */

.battle-user-name {
    font-size: 24px;
    color: #f2f2f2;
}

.battle-text {
    font-size: 60px;
    font-weight: normal;
    color: rgb(96, 250, 219);
}

.health-damage {
    font-size: 50px;
    font-weight: 500;
    color: rgb(218, 55, 55);
    z-index: 5;
    animation-name: damage;
    animation-duration: 1s;
}

.battle-speed-toggle-container {
    bottom: 20px;
    right: 20px;
}

.battle-speed-toggle {
    border: none;
    width: 40px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(67, 235, 201);
    cursor: pointer;
}

.toggle-ball {
    height: 14px;
    width: 14px;
    border-radius: 7px;
    background-color: rgb(16, 46, 39);
    margin: 2px;
}

@keyframes damage {
    from {
        top: 80px;
        opacity: 1;
    } to {
        top: 40px;
        opacity: 0;
    }
}


/* Champions search */
.champions-search-container {
    padding: 2.5rem 0;
}

.champions-search-header {
    padding: 0 6.25rem; 
}

.results-info {
    padding: 0 1rem;
}

.title-and-form {
    width: 100%;
    max-width: 500px;
    margin-right: 1rem;
}

.title-and-form .create-link {
    display: none;
}

.champions-search-results {
    /* background-color: #f2f2f2; */
    padding: 0 6.25rem;
    flex-wrap: nowrap;
    overflow-x: hidden;
    cursor: grab;
    /* -webkit-box-shadow: inset 0 0 1rem 0 rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0 0 1rem 0 rgba(0,0,0,0.75);
    box-shadow: inset 0 0 1rem 0 rgba(0,0,0,0.75); */
}



/* Users Search */
.user-search-input {
    padding-left: 2.2rem!important;
}





/* Medium devices (landscape tablets, 768px and below) */
@media only screen and (max-width: 768px) {
    .users-search-container,
    .battle-container,
    .ranking-container,
    .create-container {
        padding: 20px;
    }

    .battle-text {
        font-size: 30px;
        color: rgb(25, 22, 84);
    }

    .battle-user-name {
        font-size: 18px;
    }

    .ranking-container svg {
        max-width: 220px;
    }

    /* Champions search */
    .title-and-form {
        flex-direction: column;
        margin-right: 0;
        margin-bottom: 1rem;
        max-width: 100%;
        /* margin-top: 1rem; */
    }

    .title-and-form>div {
        justify-content: space-between;
        margin-bottom: 0.8rem;
    }

    .title-and-form h2 {
        /* margin-bottom: 1rem; */
        /* align-self: flex-start; */
    }

    .champions-list-container {
        padding: 1rem 3rem 1rem 1rem;
    }

    .user-champions-header {
        padding: 1rem 1rem 0 1rem;
   }

    .champions-search-container {
        padding: 1rem 0;
    }

    .champions-search-results {
        padding: 0 1rem;
    }

    .champions-search-header {
        flex-direction: column;
        padding: 0 1rem;
    }

    .champions-search-container .create-link {
        max-width: 120px;
        align-self: flex-end;
        margin-right: 0;
        display: none;
    }

    .title-and-form .create-link {
        display: block;
    }

    .champions-search-results,
    .users-search-results {
        margin-top: 1rem;
    }
    
    .battle-top {
        flex-direction: column;
    }

    .battle-top>div:nth-child(2) {
        align-self: center;
        background-color: rgba(255, 255, 255, 0.808);
        padding: 1rem;
        border-radius: 0.25rem;
        color: rgb(23, 12, 59);
        justify-content: center;
        margin-top: 1rem !important;
    }

    .battle-top>div:nth-child(3) {
        align-self: flex-end;
    }

  }


/* Medium devices (landscape tablets, 639px and below) */
@media only screen and (max-width: 639px) {

}