/* Champion select modal */
.image-modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.521);
    z-index: 10;
    padding: 1rem;
}

.image-modal-wrapper {
    background-color: #fff;
    max-height: 100vh;
}

.uk-modal-body {
    padding: 2rem;
}

/* .uk-modal-header {
    background-color: chocolate;
} */