/* Champion select modal */
.user-champions-modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.521);
    z-index: 10;
    padding: 1rem;
}

.user-champions-modal {
    background-color: #fff;
    max-height: 100vh;
    max-width: 100%;
}

.user-champions-modal-header {
    padding: 1rem;
    /* border-bottom: 1px solid #c0c0c0; */
}

.user-champions-modal-header p {
    margin: 0;
}

.user-champions-modal-body {
    padding: 1rem;
    margin: 0 0.8rem;
    /* overflow-y: scroll; */
    flex-wrap: nowrap;
    overflow-x: hidden;
    cursor: grab;
    -webkit-box-shadow: inset 0 0 1rem 0 rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0 0 1rem 0 rgba(0,0,0,0.75);
    box-shadow: inset 0 0 1rem 0 rgba(0,0,0,0.75);
}

.user-champions-modal-footer {
    padding: 1rem;
    /* border-top: 1px solid #c0c0c0; */
}