* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.signup-form {
    padding: 20px;
    background-color: #fff;
    margin: 40px 0;
    width: 360px;
}

.signup-login-text {
    font-size: 14px;
}

.signup-login-text span {
    color: rgb(67, 198, 172);
}