* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.champion-card {
    width: 260px;
    min-width: 260px;
    height: 380px;
    border: 2px solid rgb(67, 198, 172);
    border-radius: 8px;
    background-image: linear-gradient(to right, rgb(67, 198, 172), rgb(25, 22, 84));
    margin-right: 14px;
    margin-bottom: 14px;
}

/* .champion-card:not(:last-child) {
    margin-right: 14px;
    margin-bottom: 14px;
} */

.champion-card span,
.champion-card p {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.champion-name-container {
    background-color: #fff;
    border: 1px solid rgb(0, 180, 219);
    border-radius: 4px;
    padding: 4px 10px;
    width: 90%;
    top: 10px;
    left: 5%;
    z-index: 3;
}

.champion-name {
    font-size: 22px;
    font-weight: bold;
    color: rgb(29, 58, 65);
}

.add-btn,
.select-btn {
    z-index: 4;
    background-color: rgb(67, 198, 172) !important;
    color: #f2f2f2 !important;
    top: 5px;
    right: 5px;
}

.add-btn:hover,
.select-btn:hover,
.add-btn:focus,
.select-btn:focus {
    background-color: rgb(25, 22, 84) !important;
    color: #f2f2f2 !important;
}

.delete-btn {
    z-index: 4;
    background-color: rgb(198, 67, 67);
    color: #f2f2f2;
    top: 5px;
    right: 5px;
}

.delete-btn:hover {
    background-color: rgb(226, 122, 62);
    color: #f2f2f2;
}

.battle-stats-container {
    right: 0;
    top: 50px;
}

.battle-stats {
    padding: 4px;
    padding-top: 0;
    width: 60px;
    color: #f2f2f2;
    border-radius: 4px;
}

.battle-stats-atk {
    border: 1px solid rgb(237, 33, 58);
    background-image: linear-gradient(to right, rgb(237, 33, 58), rgb(147, 41, 30));
}

.battle-stats-def {
    border: 1px solid rgb(0, 180, 219);
    background-image: linear-gradient(to right, rgb(0, 180, 219), rgb(0, 131, 176));
}

.battle-stats-val {
    font-size: 26px;
    font-weight: bold;
}

.battle-stats-label {
    font-size: 14px;
    line-height: 0.3;
    padding-bottom: 8px;
}

.champion-img-container {
    height: 200px;
    overflow: hidden;
}

.champion-img-container img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

.uk-card-body {
    padding: 10px;
}

.stats-header {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    color: rgb(25, 22, 84);
}

.null-icon {
    color: rgb(56, 255, 215);
    margin-left: 4px;
}

.stats-label {
    font-size: 12px;
    width: 30px;
    color: rgb(25, 22, 84);
}

.stats-val {
    font-size: 12px;
    min-width: 20px;
    color: rgb(101, 241, 213);
}

.stats-bar {
    height: 12px;
    min-width: 1px;
    background-color: rgb(68, 255, 218);
    margin: 0 4px;
}

.stats-bar-container {
    width: 100%;
    /* background-color: red; */
}

.max-reached-alert {
    bottom: 10px;
    left: 20px;
    z-index: 5;
    max-width: 400px;
    width: 100%;
    background-color: #f05050;
    color: #fff;
}

.champion-added-alert {
    bottom: 10px;
    left: 20px;
    z-index: 5;
    max-width: 400px;
    width: 100%;
    background-color: #50f080;
    color: #fff;
}


/* Medium devices (landscape tablets, 1000px and below) */
@media only screen and (max-width: 1000px) {
    .champion-card {
        width: 180px;
        min-width: 180px;
        height: 250px;
        border: 2px solid rgb(67, 198, 172);
        border-radius: 6px;
    }
    
    .champion-name-container {
        padding: 4px 10px;
        top: 4px;
    }
    
    .champion-name {
        font-size: 16px;
    }

    .champion-img-container {
        height: 124px;
        margin-top: 12px !important;
    }

    .uk-card-body {
        padding: 6px;
    }

    .stats-header {
        font-size: 10px;
    }

    .stat-row {
        height: 14px;
    }
    
    .stats-label {
        font-size: 10px;
        width: 22px;
        margin-top: 1px;
    }
    
    .stats-val {
        font-size: 10px;
    }
    
    .stats-bar {
        height: 8px;
        min-width: 1px;
        background-color: rgb(68, 255, 218);
        margin: 0 4px;
    }

    .battle-stats-container {
        top: 32px;
    }
    
    .battle-stats {
        width: 44px;
    }
    
    .battle-stats-val {
        font-size: 18px;
    }
    
    .battle-stats-label {
        font-size: 10px;
        line-height: 0.5;
        padding-bottom: 4px;
    }

    .battle-stats-atk {
        margin-bottom: 4px !important;
    }

    .add-btn,
    .select-btn,
    .delete-btn {
        top: 3px;
        right: 3px;
    }
    
}