* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page-num-wrapper {
    min-width: 200px;
}

.page-num-wrapper input {
    height: 40px;
    width: 40px;
    text-align: center;
    margin: 0 0.4rem;
    font-size: 1.4rem;
    border: 1px solid #c0c0c0;
    outline: none;
    border-radius: 0.5rem;
}

.page-num-wrapper input:focus {
    border: 2px solid rgb(67, 198, 172);
}

.page-num-wrapper p {
    margin: 0;
    font-size: 0.8rem;
}

.page-num-wrapper span {
    padding: 0.25rem;
    border: 1px solid #c0c0c0;
    cursor: pointer;
    border-radius: 0.4rem;
}

.page-num-wrapper span:hover:not(.disabled) {
    background-color: rgb(67, 198, 172);
    color: #fff;
    border: 1px solid rgb(67, 198, 172);
}

.page-num-wrapper .disabled {
    background-color: #dddddd;
    color: rgb(155, 155, 155);
    cursor: unset;
    visibility: hidden;
}





/* Remove arrows from input field */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}






/* Medium devices (landscape tablets, 768px and below) */
@media only screen and (max-width: 768px) {
    .page-num-wrapper input {
        height: 70px;
        width: 70px;
        margin: 0 0.8rem;
        font-size: 1.8rem;
    }
      
    .page-num-wrapper p {
        margin-top: 0.2rem;
        font-size: 1.2rem;
        color: #a8a8a8;
    }
    
    .page-num-wrapper span {
        padding: 1rem;
    }
}