* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.user-card {
    width: 270px;
    min-width: 200px;
    /* border: 2px solid rgb(219, 221, 223); */
    margin-right: 14px;
    margin-bottom: 14px;
    border-radius: 8px;
    /* background-image: linear-gradient(to right, rgb(236, 240, 245), rgb(230, 231, 236)); */
    overflow: hidden;
    /* background-color: rgb(48, 47, 47); */
    position: relative;
}

.user-info {
    /* background-color: rgb(176, 176, 221); */
    border: 1px solid rgb(219, 221, 223);
    /* background-image: linear-gradient(to right, rgb(236, 240, 245), rgb(230, 231, 236)); */
    padding: 1rem;
    margin-bottom: 4px;
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.champions-avatars {
    position: absolute;
    top: 72px;
    width: 80%;
    margin: 0 auto;
    /* background-color: chartreuse; */
}

.user-image {
    width: 60px;
}

.user-card h3 {
    margin-bottom: 0;
}

.user-card p {
    margin: 0;
}

.user-info hr {
    height: 40px;
    margin: 0;
    border-color: rgb(240, 237, 237);
}

.user-card-champion-image {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    overflow: hidden;
    border: 1px solid rgb(67, 198, 172);
}

.user-card .stat-val {
    font-size: 1rem;
}

.user-card .stat-label {
    font-size: 0.65rem;
}

.user-card-links {
    /* background-color: cadetblue; */
    border: 1px solid rgb(219, 221, 223);
    /* background-image: linear-gradient(to right, rgb(236, 240, 245), rgb(230, 231, 236)); */
    width: 100%;
    overflow: hidden;
    border-radius: 0 0 8px 8px;
    /* padding: 30px 1rem 1rem 1rem; */
}

.user-card-links a {
    height: 100%;
    width: 100%;
}

.user-btn {
    background-color: transparent;
    font-size: 1rem;
    font-weight: 500;
    height: 100%;
    width: 100%;
    padding: 0.8rem 0 0;
}

.user-btn:hover {
    background-color: rgb(67, 198, 172);
    color: #fff;
}

.user-card-links hr {
    height: 40px;
    margin: 0;
    width: 0;
    border-color: rgb(240, 237, 237);
}