* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.user-card {
    width: 270px;
    min-width: 200px;
    /* border: 2px solid rgb(219, 221, 223); */
    margin-right: 14px;
    margin-bottom: 14px;
    border-radius: 8px;
    /* background-image: linear-gradient(to right, rgb(236, 240, 245), rgb(230, 231, 236)); */
    overflow: hidden;
    /* background-color: rgb(48, 47, 47); */
    position: relative;
}

.user-info {
    background-color: rgb(53, 59, 59);
    /* border: 1px solid rgb(158, 207, 197); */
    /* background-image: linear-gradient(to right, rgb(236, 240, 245), rgb(230, 231, 236)); */
    padding: 1rem 1rem 0.5rem 1rem;
    margin-bottom: 2px;
    width: 100%;
    border-radius: 8px 8px 0 0;
    color: rgb(217, 222, 223);
}

.champions-avatars {
    position: absolute;
    top: 70px;
    width: 80%;
    margin: 0 auto;
    /* background-color: chartreuse; */
}

.user-image {
    width: 46px;
    height: 46px;
    margin-right: 16px !important;
    border: 2px solid rgb(67, 198, 172);
    border-radius: 50%;
    overflow: hidden;
}

.user-image img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
}

.user-card h3 {
    margin-bottom: 4px;
    color: #fff;
    line-height: 1;
}

.user-card p {
    margin: 0;
}

.user-info hr {
    height: 30px;
    margin-top: 5px;
    border-color: rgb(105, 110, 110);
}

.user-card .stat-val {
    font-size: 1rem;
}

.user-info-container:nth-child(1) {
    color: rgb(197, 219, 245);
}

.user-info-container:nth-child(3) {
    color: rgb(28, 218, 123);
}

.user-info-container:nth-child(5) {
    color: rgb(248, 85, 85);
}

.user-card .stat-label {
    font-size: 0.65rem;
}

.user-card-links {
    background-color: rgb(67, 198, 172);
    border: 1px solid rgb(67, 198, 172);
    /* background-image: linear-gradient(to right, rgb(236, 240, 245), rgb(230, 231, 236)); */
    width: 100%;
    /* overflow: hidden; */
    border-radius: 0 0 8px 8px;
    /* padding: 30px 1rem 1rem 1rem; */
}

.user-card-links a {
    height: 100%;
    width: 100%;
}

.user-btn {
    background-color: transparent;
    font-size: 0.875rem;
    height: 100%;
    width: 100%;
    padding: 0.8rem 0 0;
    color: #fff;
}

.user-btn:hover {
    background-color: rgb(25, 22, 84);;
}

.user-card-links hr {
    height: 40px;
    margin: 5px 0 0 0;
    width: 0;
    border-color: rgb(125, 233, 211);
}




/* Medium devices (landscape tablets, 624px and below) */
@media only screen and (max-width: 624px) {
    .user-card {
        width: 100%;
        margin-right: 0;
        position: relative;
    }

    .user-info {
        padding: 1rem 2rem 0rem 2rem;
    }

    .champions-avatars {
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        width: 180px;
    }

    .user-btn {
        padding: 0.2rem;
    }
}

/* Medium devices (landscape tablets, 450px and below) */
@media only screen and (max-width: 450px) {
    .user-info {
        padding: 1rem 1rem 0rem 1rem;
    }

    .champions-avatars {
        top: 1.6rem;
        right: 0;
    }
}