* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home-hero {
    /* background: url("http://g.recordit.co/FCUWj48TUd.gif") 0 0; */
    max-height: 450px;
    overflow: hidden;
    background-color: #000609;
}

.home-hero img {
    max-height: 450px;
    margin: 0 auto;
}

.primary-btn {
    color: #f2f2f2;
    background-image: linear-gradient(to right, rgb(67, 198, 172), rgb(25, 22, 84));
}

.primary-btn:hover {
    color: #f2f2f2;
    background-image: linear-gradient(to left, rgb(67, 198, 172), rgb(25, 22, 84));
}