* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.profile-header {
    background-image: linear-gradient(to right, rgb(67, 198, 172), rgb(25, 22, 84));
    padding: 20px 100px 40px 100px;
}

.profile-img-container {
    height: 200px;
    width: 200px;
    border-radius: 50%
}

.profile-header h2 {
    font-size: 40px;
    margin-bottom: 4px;
    letter-spacing: 1px;
}

.user-stats:not(:last-child) {
    margin-right: 30px;
}

.user-stats:nth-child(1) {
    color: rgb(197, 219, 245);
}

.user-stats:nth-child(2) {
    color: rgb(28, 218, 123);
}

.user-stats:nth-child(3) {
    color: rgb(248, 85, 85);
}

.stat-val {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
}

.stat-label {
    font-size: 14px;
    line-height: 1;
}

.profile-header .secondary-btn {
    height: 38px;
}

.user-champions-modal-wrapper {
    width: fit-content;
}

.profile-img-container span {
    cursor: pointer;
    display: none;
    height: 160px;
    width: 160px;
    background-color: rgba(0,0,0,0.5)!important;
}

.profile-img-container:hover span {
    display: flex;
}


/* Medium devices (landscape tablets, 768px and below) */
@media only screen and (max-width: 768px) {

    .profile-header {
        padding: 20px;
    }

    .profile-img-container {
        width: 160px;
    }

    .uk-modal-body {
        padding: 2px;
    }

}
